<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="dismiss" arial-label="Close"></button>
				<h4 class="modal-title">Atenção</h4>
			</div>
			<div class="modal-body">
				<p>Clique em OK para proceder com a exclussão.&hellip;</p>
			</div>
			<div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="ok_confirm" type="button" class="btn btn-primary">OK</button>
			</div>		
		</div>
	</div>
</body>
</html>